.body {
  background-color: blue;
}

.grid-header { 
  grid-area: header; 
  text-align: center;
  
}
.grid-nav {
   grid-area: nav;
   text-align: center;
   }

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 5rem 5rem 100% 5rem;
grid-template-areas:
  ' header header '
  ' nav nav '
  ' left right '
  ' footer footer';
   grid-gap: 0;
}

ul{
  display: block;
}
.nav {
  display: auto;
}

/* @media screen and (max-width: 1100px) {
  .grid-header {
    position: aboslute;
    top:0
  }
  .grid-nav {
    text-align: center;
    font-size: 1.3em;
    padding: 0 2rem;
  }
  .grid-menu {
    padding: 0 2rem 1rem 2rem;
  }
  .grid-main { 
    padding: 0 2rem 0 2rem;
    margin-bottom: 2rem;
  }
  .grid-container {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 5rem 4.5rem auto auto auto auto;
  grid-template-areas:
      'nav'
      'header'
      'right'
      'left'
      'footer';
      grid-gap: 0;
  }
} */
